.sidebar-map{
    position: fixed;
    z-index: 99999;
    width: 76px;
    height: 100vh;
    @media screen and (max-width: 767px){
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 65px;
        z-index: 99999;
        background-color: #FFF;
    }
    .logo{
        display: block;
        /*background-color: rgba($color: #D36301, $alpha: 0.06);*/
        background-color: #FFF;
        padding: 10px 5px;
        text-align: center;
        @media screen and (max-width: 767px){
            display: none;
        }
    }
    .logotext{
        display: block;
        /*background-color: rgba($color: #D36301, $alpha: 0.06);*/
        background-color: #FFF;
        padding: 10px 6px;
        text-align: center;
        @media screen and (max-width: 767px){
            display: none;
        }
    }
    .main{
        padding: 10px 5px;
        text-align: center;
        color: rgba($color: #000000, $alpha: 0.6);
        display: block;
        @media screen and (max-width: 767px){
            display: inline-flex;
            align-items: center;
            justify-content: center;
            vertical-align: top;
            padding: 5px;
            width: 23.9%;
            height: 100%;
            position: relative;
            z-index: 99;
            background-color: #FFF;
        }
        @media screen and (min-width: 900px){
            display: none;
        }
        h6{
            font-size: 11px;
            margin: 0;
            @media screen and (max-width: 767px){
                margin-bottom: 0;
            }
        }
        .image{
            position: relative;
            margin-bottom: 5px;
            @media screen and (max-width: 767px){
                margin-bottom: 4px;
            }
            img{
                @media screen and (max-width: 767px){
                    height: 20px;
                }
            }
            span{
                position: absolute;
                bottom: -16px;
                left: 50%;
                transform: translateX(-50%);
                background-color: $pri;
                color: #FFF;
                font-size: 10px;
                padding: 2px 7px;
                border-radius: 12px;
                border: 2px solid #FFF;
                opacity: 0;
                @media screen and (max-width: 767px){
                    display: none;
                }
            }
        }
        &.its-new{
            .image{
                margin-bottom: 15px;
                @media screen and (max-width: 767px){
                    margin-bottom: 4px;
                }
                span{
                    opacity: 1;
                }
            }
        }
        &:hover, &:focus{
            text-decoration: none;
        }
        &.active{
            background-color: #F7F7F7;
        }
        & + .main{
            margin-left: 0px;
        }
        ul{
            padding: 0;
            li{
                padding-left: 25px;
                position: relative;
                font-size: 18px;
                color: rgba($color: #000000, $alpha: 0.8);
                line-height: 1.7;
                list-style: none;
                margin-bottom: 5px;
                @media screen and (max-width: 991px){
                    font-size: 15px;
                    padding-left: 20px;
                }
                .gray{
                    color: rgba($color: #000000, $alpha: 0.4);
                    font-size: 16px;
                    display: block;
                }
                &:before{
                    content: "";
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 7px;
                    left: 0;
                    border: 3px solid #FE6500;
                    border-radius: 50%;
                }
            }
        }
    }
    .hide{
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        width: 76px;
    	height: 54px;
        align-items: center;
        justify-content: center;
        background-color: #FDF5EF;
        transition: all 0.3s ease;
        @media screen and (max-width: 767px){
            display: none;
        }
        &:hover, &:focus{
            background-color: darken(#FDF5EF, 10%);
        }
    }

    .sidebar-slide{
        width: 275px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -275px;
        padding: 16px;
        background-color: #F7F7F7;
        @media screen and (max-width: 767px){
            height: 55vh;
            width: 100%;
            left: 0;
            bottom: -55vh;
            top: auto;
            transition: all 0.3s ease;
            z-index: 9;
        }
        .content-head{
            position: relative;
            h6{
                font-size: 13px;
                font-family: $b;
                font-weight: bold;
                margin-bottom: 5px;
                color: #000;
            }
            .close{
                position: absolute;
                right: 0;
                top: 0;
                font-size: 16px;
                color: rgba($color: #000000, $alpha: 0.6);
                transition: all 0.3s ease;
                @media screen and (max-width: 767px){
                }
                &:hover, &:focus{
                    color: #000;
                }
            }
            .status{
                display: inline-block;
                vertical-align: middle;
                font-size: 9px;
                padding: 4px 8px;
                background-color: #FFF;
                border: 1px solid #EAEAEA;
                margin-right: 2px;
                border-radius: 12px;
                &:hover, &:focus{
                    text-decoration: none;
                }
                &.active{
                    color: #FFF;
                    background-color: $sec;
                    border-color: $sec;
                }
            }
            p{
                font-size: 12px;
                margin-bottom: 0;
                color: rgba($color: #66615C, $alpha: 0.6);
            }
            .mx-datepicker{
                width: 100%;
                .mx-input{
                    border-radius: 0;
                    padding: 0 30px 0 0;
                    background-color: transparent;
                    border: none;
                    margin: 5px 0 10px 0;
                    box-shadow: none;
                    color: $t;
                    font-size: 13px;
                    height: auto;
                }
                .mx-icon-clear, .mx-icon-calendar{
                    right: 0;
                }
            }
        }
        .content-list{
            margin-top: 20px;
            overflow-y: auto;
            overflow-x: hidden;
            max-height: calc(100vh - 100px);
            @media screen and (max-width: 767px){
                max-height: 41vh;
            }
            .list-item{
                padding: 10px 0;
                position: relative;
                display: block;
                color: #000;
                h6{
                    font-size: 13px;
                    font-weight: bold;
                    margin-bottom: 0;
                }
                p{
                    font-size: 11px;
                    margin: 0;
                    color: rgba($color: #000000, $alpha: 0.6);
                }
                .count{
                    position: absolute;
                    right: 0;
                    top: 10px;
                    background-color: $pri;
                    width: 20px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 8px;
                    font-weight: bold;
                    font-family: $b;
                    border-radius: 29px;
                    color: $wt;
                }
                &:hover, &:focus{
                    text-decoration: none;
                }
                & + .list-item{
                    border-top: 1px solid rgba($color: #66615C, $alpha: 0.12);
                }
            }
            label{
                font-size: 12px;
            }
            .form-control{
                font-size: 13px;
                padding: 13px 15px;
                border-radius: 8px;
                height: auto;
                border: none;
                appearance: none;
                background-image: url('/mini_arrow_gray.svg');
                background-repeat: no-repeat;
                background-position: right 10px center;
                &:hover, &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
            .not-found{
                text-align: center;
                font-size: 12px;
                color: #66615C;
                line-height: 1.5;
                margin-top: 20px;
            }
            .blog-item{
                display: block;
                color: #000;
                margin-bottom: 15px;
                .image{
                    width: 100%;
                    height: 135px;
                    background-size: cover;
                    background-position: center center;
                    margin-bottom: 12px;
                    border-radius: 4px;
                    @media screen and (max-width: 767px){
                        height: 180px;
                    }
                }
                h5{
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    transition: all 0.3s ease;
                    @media screen and (max-width: 767px){
                        font-size: 16px;
                    }
                }
                span{
                    font-size: 12px;
                    color: rgba($color: #66615C, $alpha: 0.6);
                }
                &:hover, &:focus{
                    text-decoration: none;
                    h5{
                        color: $pri;
                    }
                }
            }
            .loadMore{
                font-size: 14px;
                margin: 10px 0;
            }
            &.titik{
                max-height: calc(100vh - 166px);
            }
        }
        .pdf{
            display: block;
            padding: 10px 0;
            img{
                vertical-align: middle;
                display: inline-block;
                margin-right: 5px;
            }
            span{
                display: inline-block;
                vertical-align: middle;
                color: $t;
                transition: all 0.3s ease;
            }
            &:hover, &:focus{
                text-decoration: none;
                span{
                    color: $pri;
                }
            }
        }
        &.big{
            width: 500px;
            left: -500px;
            @media screen and (max-width: 767px){
                width: 100%;
                left: auto;
            }
        }
        &.opened{
            left: 0px;
            bottom: auto;
            /*left: 180px;*/
            @media screen and (max-width: 767px){
                bottom: 65px;
                left: auto;
            }
        }
        &.hidden{
            display: none;
            @media screen and (max-width: 767px){
                display: none;
            }
        }
        
        .fade-enter-active, .fade-leave-active {
				  transition: opacity .5s;
				}
				.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
				  opacity: 0;
				}
    }
}

.map-wrap{
    /*margin-left: 76px;*/
    /*margin-left: 180px;*/
    position: relative;
    @media screen and (max-width: 767px){
        margin-left: 0;
        height: calc(100vh - 65px) !important;
    }
    .call{
        position: absolute;
        /*top: 45px;
        right: 10px;*/
        right: 0;
        background-color: $wt;
        padding: 8px 10px;
        /*border-radius: 8px;*/
        z-index: 9999;
        font-size: 15px;
        color: $t;
        font-weight: 600;
        box-shadow: 0px 6px 16px rgba($color: #000000, $alpha: 0.16);
        transition: all 0.3s ease;
        @media screen and (max-width: 767px){
            display: none;
        }
        &:hover, &:focus{
            text-decoration: none;
            background-color: #f5f5f5;
        }
    }
    .leaflet-control-zoom{
    		display : none !important;
        margin: 40px 0 0 15px !important;
        @media screen and (max-width: 767px){
            display: none !important;
        }
    }

    .leaflet-zoom-box {
		    display: none;
		}

    .logo-responsive{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FDF5EF;
        padding: 20px 15px;
        display: none;
        z-index: 9999;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        img{
            display: inline-block;
            vertical-align: middle;
        }
        &:hover, &:focus{
            text-decoration: none;
        }
        @media screen and (max-width: 767px){
            display: block;
        }
    }
    marquee{
        position: absolute;
        z-index: 1023;
        padding: 7px 15px;
        color: $wt;
        font-size: 16px;
        background-color: rgba($color: #66615C, $alpha: 0.6);
    }
    .legend-wrap{
        position: absolute;
        bottom: 30px;
        left: 80px;
        z-index: 1024;
        border-radius: 4px;
        background-color: rgba($color: $wt, $alpha: 0.5);
        box-shadow: 0 3px 13px rgba($color: #000000, $alpha: 0.06);
        transition: all 0.3s ease;
        @media screen and (max-width: 767px){
            left: 0;
            right: 0;
            bottom: -60px;        
            background-color: #F7F7F7;
        }
        .legend-head{
            overflow: hidden;
            color: #000;
            display: block;
            width: 275px;
            padding: 20px 15px;
            pointer-events: none;
            @media screen and (max-width: 767px){
                width: 100%;
                pointer-events: inherit;
            }
            h6{
                float: left;
                font-family: $b;
                font-weight: bold;
                font-size: 14px;
                margin: 0;
                color: #000;
            }
            .hides{
                float: left;
                margin-right: 10px;
                display: none !important;
                @media screen and (max-width: 767px){
                    display: none;
                }
            }
            .shown{
                float: right;
                margin-top: 3px;
                transition: all 0.3s ease;
                display: none !important;
                @media screen and (max-width: 767px){
                    display: none;
                }
            }
            .close{
                float: right;
                display: none;
                font-size: 16px;
                color: rgba($color: #000000, $alpha: 0.6);
                @media screen and (max-width: 767px){
                    display: block;
                }
            }
        }
        .legend-body{
            width: 275px;
            max-height: 0;
            overflow: hidden;
            transition: all 0.3s ease;
            @media screen and (max-width: 767px){
                width: 100%;
            }
            .legend-item-contain{
                padding: 0px 15px 0 15px;
                p{
                    font-size: 12px;
                    color: rgba($color: #66615C, $alpha: 0.6);
                }
                .legend-item{
                    position: relative;
                    padding: 5px 0 0 0;
                    h6{
                        font-size: 13px;
                        color: #000000;
                        margin: 0;
                    }
                    .count-total{
                        font-size: 20px;
                        font-family: $b;
                        font-weight: bold;
                        color: #000000;
                        margin: 0;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                    .count-satellite{
                        display: inline-block;
                        vertical-align: top;
                        clear: both;
                        margin-right: 17px;
                        font-size: 11px;
                        width: 40px;
                        img{
                            margin-right: 3px;
                            font-size: 11px;
                            color: #000;
                            display: inline-block;
                            vertical-align: top;
                            margin-top: 4px;
                        }
                    }
                    &:after{
                        content: "";
                        height: 1px;
                        position: absolute;
                        bottom: 0;
                        right: -15px;
                        left: -15px;
                        background-color: rgba(102, 97, 92, 0.3);
                    }
                    &.w-border-top{
                        &:before{
                            content: "";
                            height: 1px;
                            position: absolute;
                            top: 0;
                            right: -15px;
                            left: -15px;
                            background-color: rgba(102, 97, 92, 0.3);
                        }
                    }
                }
            }
            .filter-wrap{
                padding: 5px 15px 16px 15px;
                .select-wrap{
                    margin-bottom: 10px;
                    &:after{
                        content: "";
                        display: table;
                        clear: both;
                    }
                    label{
                        display: block;
                        font-size: 12px;
                        margin-bottom: 8px;
                        color: #66615C;
                    }
                    select{
                        display: block;
                        width: 100%;
                        border-radius: 4px;
                        padding: 10px;
                        height: auto;
                        font-size: 9px;
                        color: #66615C;
                        background-color: #F7F7F7;
                        appearance: none;
                        border-color: #F7F7F7;
                        background-image: url('/mini_arrow_gray.svg');
                        @media screen and (max-width: 767px){
                            background-color: $wt;
                        }
                    }
                    .ket{
                        font-size: 10px;
                        color: #66615C;
                        display: inline-block;
                        width: 32%;
                        vertical-align: top;
                    }
                    input[type="range"]::-webkit-slider-runnable-track{
                        background: #D36301;
                        content: '';
                        height: 4px;
                        border-radius: 4px;
                        pointer-events: none;
                    }
                    input[type="range"]::-ms-track{
                        background: #D36301;
                        content: '';
                        height: 4px;
                        border-radius: 4px;
                        pointer-events: none;
                    }
                    input[type="range"]::-webkit-slider-thumb{
                        border-radius: 2px;
                        background-color: $wt;
                        border: 2px solid #BCBCBC;
                        margin-top: -5px;
                    }
                    input[type="range"]::-ms-track{
                        border-radius: 2px;
                        background-color: $wt;
                        border: 2px solid #BCBCBC;
                        margin-top: -5px;
                    }
                    .custom-control-input:checked ~ .custom-control-label::before {
                        background-color: #D36301;
                        border-color: #D36301;
                    }
                    .custom-checkbox{
                        display: inline-block;
                        margin-right: 4px;
                        .custom-control-label{
                            &::before, &::after{
                                top: 0;
                            }
                            .color{
                                display: inline-block;
                                vertical-align: top;
                                width: 5px;
                                height: 16px;
                                border-radius: 5px;
                                margin-right: 2px;
                                &.low{
                                    background-color: #009934;
                                }
                                &.med{
                                    background-color: #ffdf01;
                                }
                                &.high{
                                    background-color: #c52221;
                                }
                            }
                        }
                    }
                    .ket-wind{
                        float: left;
                        width: 100%;
                        .bar{
                            width: 100%;
                            border-radius: 2px;
                            height: 10px;
                            background-image: linear-gradient(to right, #00ff3a, #ffbf00, #ff0018);
                        }
                        .speed{
                            font-size: 12px;
                            display: inline-block;
                            vertical-align: top;
                            color: #66615C;
                            width: 49%;
                        }
                    }
                    .index-udara-list{
                        margin-bottom: 0px;
                        padding: 0;
                        clear: both;
                        li{
                            padding-left: 20px;
                            position: relative;
                            font-size: 12px;
                            color: $t;
                            margin-bottom: 5px;
                            list-style: none;
                            &:before{
                                content: "";
                                position: absolute;
                                top: 3px;
                                left: 0;
                                width: 11px;
                                height: 11px;
                                border-radius: 50%;
                                background-color: #2ECC71;
                            }
                            &:nth-child(2){
                                &:before{
                                    background-color: #3498DB;
                                }
                            }
                            &:nth-child(3){
                                &:before{
                                    background-color: #F1C40F;
                                }
                            }
                            &:nth-child(4){
                                &:before{
                                    background-color: #E74C3C;
                                }
                            }
                            &:nth-child(5){
                                &:before{
                                    background-color: #34495E;
                                }
                            }
                        }
                    }
                    &.w-border-bottom{
                        position: relative;
                        padding-bottom: 10px;
                        margin-bottom: 15px;
                        &:before{
                            content: "";
                            height: 1px;
                            position: absolute;
                            bottom: 0;
                            right: -15px;
                            left: -15px;
                            background-color: rgba($color: #66615C, $alpha: 0.3);
                        }
                    }
                }
            }
        }
        &.open{
            @media screen and (max-width: 767px){
                bottom: 50px;
            }
            .legend-head{
                padding-bottom: 15px;
                .shown{
                    transform: rotate(180deg);
                }
            }
            .legend-body{
                max-height: 625px;
                overflow: hidden;
                @media screen and (max-width: 767px){
                    max-height: 70vh;
                    overflow-y: auto;
                }
            }
        }
    }
    // cluster
    .satellite-terra-low{
        background-color: rgba(181,226,140,.6);
        border-radius: 0;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        div{
            width: 30px;
            height: 30px;
            margin-left: 5px;
            margin-top: 5px;
            text-align: center;
            border-radius: 15px;
            font: 12px "Helvetica Neue",Arial,Helvetica,sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(110,204,57,.6);
        }
    }
    .satellite-terra-medium{
        background-color: rgba(241,211,87,.6);
        border-radius: 0;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        div{
            width: 30px;
            height: 30px;
            margin-left: 5px;
            margin-top: 5px;
            text-align: center;
            border-radius: 15px;
            font: 12px "Helvetica Neue",Arial,Helvetica,sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(240,194,12,.6);
        }
    }
    .satellite-terra-high{
        background-color: rgba(253,156,115,.6);
        border-radius: 0;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        div{
            width: 30px;
            height: 30px;
            margin-left: 5px;
            margin-top: 5px;
            text-align: center;
            border-radius: 15px;
            font: 12px "Helvetica Neue",Arial,Helvetica,sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(241,128,23,.6);
        }
    }
    .satellite-noaa-low{
        background-color: rgba(181,226,140,.6);
        border-radius: 0;
        width: 40px;
        height: 40px;
        div{
            width: 30px;
            height: 30px;
            margin-left: 5px;
            margin-top: 5px;
            text-align: center;
            font: 12px "Helvetica Neue",Arial,Helvetica,sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(110,204,57,.6);
        }
    }
    .satellite-noaa-medium{
        background-color: rgba(241,211,87,.6);
        border-radius: 0;
        width: 40px;
        height: 40px;
        div{
            width: 30px;
            height: 30px;
            margin-left: 5px;
            margin-top: 5px;
            text-align: center;
            font: 12px "Helvetica Neue",Arial,Helvetica,sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(240,194,12,.6);
        }
    }
    .satellite-noaa-high{
        background-color: rgba(253,156,115,.6);
        border-radius: 0;
        width: 40px;
        height: 40px;
        div{
            width: 30px;
            height: 30px;
            margin-left: 5px;
            margin-top: 5px;
            text-align: center;
            font: 12px "Helvetica Neue",Arial,Helvetica,sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(241,128,23,.6);
        }
    }
    .satellite-snpp-low{
        border-radius: 0;
        width: 40px;
        height: 40px;
        &:before{
            content: "";
            width: 0; 
            height: 0; 
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);   
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 40px solid rgba(181,226,140,.6);
        }
        &:after{
            content: "";
            width: 0; 
            height: 0; 
            position: absolute;
            z-index: 2;
            top: 7px;
            left: 5px;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 30px solid rgba(110,204,57,.6);
        }
        div{
            width: 30px;
            height: 30px;
            z-index: 3;
            position: relative;
            text-align: center;
            font: 12px "Helvetica Neue",Arial,Helvetica,sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 27px;
            margin-left: 5px;
        }
    }
    .satellite-snpp-medium{
        border-radius: 0;
        width: 40px;
        height: 40px;
        &:before{
            content: "";
            width: 0; 
            height: 0; 
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);   
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 40px solid rgba(241,211,87,.6);
        }
        &:after{
            content: "";
            width: 0; 
            height: 0; 
            position: absolute;
            z-index: 2;
            top: 7px;
            left: 5px;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 30px solid rgba(240,194,12,.6);
        }
        div{
            width: 30px;
            height: 30px;
            z-index: 3;
            position: relative;
            text-align: center;
            font: 12px "Helvetica Neue",Arial,Helvetica,sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 27px;
            margin-left: 5px;
        }
    }
    .satellite-snpp-high{
        border-radius: 0;
        width: 40px;
        height: 40px;
        &:before{
            content: "";
            width: 0; 
            height: 0; 
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);   
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 40px solid rgba(253,156,115,.6);
        }
        &:after{
            content: "";
            width: 0; 
            height: 0; 
            position: absolute;
            z-index: 2;
            top: 7px;
            left: 5px;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 30px solid rgba(241,128,23,.6);
        }
        div{
            width: 30px;
            height: 30px;
            z-index: 3;
            position: relative;
            text-align: center;
            font: 12px "Helvetica Neue",Arial,Helvetica,sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 27px;
            margin-left: 5px;
        }
    }
    .satellite-landsat-low{
        border-radius: 0;
        width: 40px;
        height: 40px;
        &:before{
            content: "";
            width: 0; 
            height: 0; 
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);   
            width: 30px;
            height: 30px;
            background-color: rgba(181,226,140,.6);
        }
        &:after{
            content: "";
            width: 0; 
            height: 0; 
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);   
            width: 20px;
            height: 20px;
            background-color: rgba(110,204,57,.6);
        }
        div{
            width: 30px;
            height: 30px;
            z-index: 3;
            position: relative;
            text-align: center;
            font: 12px "Helvetica Neue",Arial,Helvetica,sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
            margin-top: 5px;
        }
    }
    .satellite-landsat-medium{
        border-radius: 0;
        width: 40px;
        height: 40px;
        &:before{
            content: "";
            width: 0; 
            height: 0; 
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);   
            width: 30px;
            height: 30px;
            background-color: rgba(241,211,87,.6);
        }
        &:after{
            content: "";
            width: 0; 
            height: 0; 
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);   
            width: 20px;
            height: 20px;
            background-color: rgba(240,194,12,.6);
        }
        div{
            width: 30px;
            height: 30px;
            z-index: 3;
            position: relative;
            text-align: center;
            font: 12px "Helvetica Neue",Arial,Helvetica,sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
            margin-top: 5px;
        }
    }
    .satellite-landsat-high{
        border-radius: 0;
        width: 40px;
        height: 40px;
        &:before{
            content: "";
            width: 0; 
            height: 0; 
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);   
            width: 30px;
            height: 30px;
            background-color: rgba(253,156,115,.6);
        }
        &:after{
            content: "";
            width: 0; 
            height: 0; 
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);   
            width: 20px;
            height: 20px;
            background-color: rgba(241,128,23,.6);
        }
        div{
            width: 30px;
            height: 30px;
            z-index: 3;
            position: relative;
            text-align: center;
            font: 12px "Helvetica Neue",Arial,Helvetica,sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
            margin-top: 5px;
        }
    }
    &.openSide{
        /*margin-left: 351px;*/
        margin-left: 0px;
        @media screen and (max-width: 767px){
            margin-left: 0px;
        }
        &.big{
            /*margin-left: 571px;*/
            margin-left: 0px;
            @media screen and (max-width: 767px){
                margin-left: 0px;
            }
        }

    }
}

.modal-titikpanas{
		max-height: calc(100vh - 166px);
}

.modal-berita{
    p{
        font-size: 14px;
        color: $t;
    }
    ol{
        li{
            font-size: 14px;
            color: $t;
            ol{
                padding-left: 25px;
            }
        }
        &.lower-alpha{
            li{
                list-style: lower-alpha;
            }
        }
    }
    .image{
        width: 100%;
        height: 135px;
        background-size: cover;
        background-position: center center;
        margin-bottom: 12px;
        border-radius: 4px;
        @media screen and (max-width: 767px){
           height: 180px;
        }
   }
}

.modal-titikpanas{
		max-height: calc(100vh - 166px);
}

.modal-berita{
    p{
        font-size: 14px;
        color: $t;
    }
    ol{
        li{
            font-size: 14px;
            color: $t;
            ol{
                padding-left: 25px;
            }
        }
        &.lower-alpha{
            li{
                list-style: lower-alpha;
            }
        }
    }
    .image{
        width: 100%;
        height: 135px;
        background-size: cover;
        background-position: center center;
        margin-bottom: 12px;
        border-radius: 4px;
        @media screen and (max-width: 767px){
           height: 180px;
        }
   }
}

.modal-galeri{
    p{
        font-size: 14px;
        color: $t;
    }
    ol{
        li{
            font-size: 14px;
            color: $t;
            ol{
                padding-left: 25px;
            }
        }
        &.lower-alpha{
            li{
                list-style: lower-alpha;
            }
        }
    }
    .image{
        width: 100%;
        height: 135px;
        background-size: cover;
        background-position: center center;
        margin-bottom: 12px;
        border-radius: 4px;
        @media screen and (max-width: 767px){
           height: 180px;
        }
   }
}

.modal-disclaimer{
    p{
        font-size: 14px;
        color: $t;
    }
    ol{
        li{
            font-size: 14px;
            color: $t;
            ol{
                padding-left: 25px;
            }
        }
        &.lower-alpha{
            li{
                list-style: lower-alpha;
            }
        }
    }
}

				.nav-agni2{
            margin-bottom: 30px;
            @media screen and (max-width: 991px){
                margin-bottom: 15px;
            }
            a{
                font-size: 14px;
                font-weight: 500;
                font-family: $b;
                padding: 8px 16px;
                background-color: #fff;
                border-radius: 18px;
                color: #999999;
                display: inline-block;
                margin-right: 10px;
                @media screen and (max-width: 991px){
                    font-size: 14px;
                    margin-right: 5px;
                    margin-bottom: 5px;
                }
                &.active, &:hover, &:focus{
                    background-color: #FDF5EF;
                    color: #D36301;
                    text-decoration: none;
                }
            }
        }
        
        .nav-content{
            background-color: #FDF5EF;
            padding: 30px 25px;
            border-radius: 8px;
            box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.06);
            transition: all 0.3s ease;
            @media screen and (max-width: 991px){
                padding: 15px 10px;
                margin-bottom: 25px;
            }
            h3{
                font-size: 24px;
                font-family: $b;
                font-weight: bold;
                color: $t;
                @media screen and (max-width: 991px){
                    font-size: 18px;
                }
            }
            a{
                font-size-adjust: 16px;
                display: block;
                padding: 5px 0;
                color: rgba($color: #000000, $alpha: 0.8);
                transition: all 0.3s ease;
                @media screen and (max-width: 991px){
                    font-size: 14px;
                    padding: 2px 0;
                }
                &:hover, &:focus{
                    text-decoration: none;
                    color: $pri;
                }
            }
            &.scrolling{
                position: fixed;
                top: 50%;
                transform: translateY(-50%);
                @media screen and (max-width: 991px){
                    position: relative;
                    top: auto;
                    transform: translateY(0);
                }
            }
            &.toBot{    
                transform: translateY(-120%);
                @media screen and (max-width: 991px){
                    transform: translateY(0);
                }
            }
        }

.petas-wrap{
    padding: 0 0 40px 0;
}

.tab-content{
        padding: 30px 0;
        @media screen and (max-width: 991px){
            padding: 15px 0;
        }
        p{
            font-size: 18px;
            color: rgba($color: #000000, $alpha: 0.8);
            line-height: 1.7;
            margin-bottom: 25px;
            @media screen and (max-width: 991px){
                font-size: 15px;
                margin-bottom: 15px;
            }
        }
        ul{
            padding: 0;
            li{
                padding-left: 25px;
                position: relative;
                font-size: 18px;
                color: rgba($color: #000000, $alpha: 0.8);
                line-height: 1.7;
                list-style: none;
                margin-bottom: 5px;
                @media screen and (max-width: 991px){
                    font-size: 15px;
                    padding-left: 20px;
                }
                .gray{
                    color: rgba($color: #000000, $alpha: 0.4);
                    font-size: 16px;
                    display: block;
                }
                &:before{
                    content: "";
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 7px;
                    left: 0;
                    border: 3px solid #FE6500;
                    border-radius: 50%;
                }
            }
        }
    }
.daerah-item{
            padding: 25px 25px 10px 25px;
            border: 1px solid #E3E3E3;
            margin-bottom: 15px;
            @media screen and (max-width: 991px){
                padding: 15px 15px 5px 15px;
            }
            h5{
                font-size: 18px;
                color: $t;
                font-family: $b;
                font-weight: bold;
                margin-bottom: 15px;
                @media screen and (max-width: 991px){
                    margin-bottom: 10px;
                }
            }
            .heading{
                font-size: 15px;
                color: rgba($color: #000000, $alpha: 0.8);
                margin-bottom: 5px;
            }
            .alamat{
                display: block;
                font-size: 13px;
                color: rgba($color: #000000, $alpha: 0.4);
                margin-bottom: 20px;
                @media screen and (max-width: 991px){
                    margin-bottom: 10px;
                }
            }
            .jumlah{
                display: block;
                font-size: 13px;
                color: rgba($color: #000000, $alpha: 0.4);
                margin-bottom: 5px;
            }
            .count{
                display: block;
                font-size: 15px;
                font-weight: bold;
                color: rgba($color: #D36301, $alpha: 0.8);
                margin-bottom: 20px;
                @media screen and (max-width: 991px){
                    margin-bottom: 10px;
                }
            }
        }
.accordion-publikasipeta{
    .card{
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgba($color: #707070, $alpha: 0.2);
        .card-header{
            border-radius: 0;
            padding: 0;
            border-bottom: none;
            background-color: #fff;
            .btn{
                background-color: transparent;
                border-radius: 0;
                border: none;
                padding: 20px 0;
                position: relative;
                h5{
                    display: block;
                    color: $t;
                    font-size: 15px;
                    font-weight: bold;
                    margin: 0;
                    text-align: left;
                    padding-right: 30px;
                    @media screen and (max-width: 767px){
                        font-size: 16px;
                    }
                }
                img{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
                &:hover, &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
        }
        .card-body{
            padding: 15px 0;
            @media screen and (max-width: 767px){
                padding: 7px 0;
            }
            .uud-item{
                text-align: left;
                margin-bottom: 20px;
                @media screen and (max-width: 767px){
                    margin-bottom: 10px;
                }
                a{
                    color: $pri;
                    display: inline-block;
                    font-size: 14px;
                    margin-bottom: 5px;
                    @media screen and (max-width: 767px){
                        font-size: 15px;
                    }
                }
                span{
                    display: block;
                    font-size: 15px;
                    @media screen and (max-width: 767px){
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.document-itempeta{
    padding: 23px 120px 23px 30px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba($color: #707070, $alpha: 0.2);
    @media screen and (max-width: 767px){
        padding: 20px 120px 20px 30px;
    }
    img{
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
    }
    h5{
        margin-bottom: 0;
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
        @media screen and (max-width: 767px){
            font-size: 15px;
        }
    }
    a{
        font-size: 13px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        i{
            margin-left: 3px;
            opacity: 0.5;
        }
    }
}


@media (min-width: 300px) {
  .scrolled-menu {
    max-height: 29rem;
  }
  #logo_maps {
    position: absolute;
    padding: 0px !important;
    bottom: 50px;
    z-index: 1000;
    left: 0px;
    width: 100%;
  }
  #logo_maps ul img {
    /*height: 50px;
    margin: 0 auto;*/
    
    border: none;
    display: block;
    height: 40px;
    margin: 0px auto;
  }
  #logo_maps ul {
  	clear: both;
    padding-left: 0px;
    margin: 0 auto;
    width: 312px;
  }
  #logo_maps ul li {
    display: inline-block;
    /*float: left;*/
    padding: 0;
    margin: 5px 10px 5px 0;
    list-style: none;
    text-align: center;
  }
  #logo_maps a {
    font-size: 12px;
    color: #000;
    text-shadow: 1px 1px #fff;
  }
  .img-responsives {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

footer{
    padding: 50px 0 0 0;
    background-color: rgba($color: #D1D1D1, $alpha: 0.2);
    @media screen and (max-width: 767px){
        padding: 25px 0 0 0;
        text-align: center;
    }
    .logo-footer{
        margin-bottom: 15px;
        padding-left: 55px;
        position: relative;
        @media screen and (max-width: 767px){
            margin: 0 auto 15px auto;
            text-align: left;
            width: 70%;
        }
        img{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        h6{
            font-size: 17px;
            font-family: $b;
            font-weight: bold;
            margin: 0;
            width: 70%;
            @media screen and (max-width: 991px){
                font-size: 15px;
            }
            @media screen and (max-width: 767px){
                width: 100%;
            }
        }
    }
    p{
        font-size: 14px;
        line-height: 1.8;
        margin-bottom: 15px;
        color: rgba($color: #000000, $alpha: 0.7);
        @media screen and (max-width: 991px){
            font-size: 13px;
        }
    }
    .sec-title{
        font-size: 15px;
        font-weight: bold;
        font-family: $b;
        margin-bottom: 20px;
        @media screen and (max-width: 991px){
            font-size: 14px;
        }
        @media screen and (max-width: 767px){
            margin-bottom: 10px;
        }
    }
    ul{
        margin-bottom: 20px;
        padding: 0;
        @media screen and (max-width: 767px){
            margin-bottom: 10px;
        }
        li{
            list-style: none;
            a{
                color: rgba($color: #000000, $alpha: 0.7);
                display: block;
                margin-bottom: 10px;
                font-size: 14px;
                transition: all 0.3s ease;
                @media screen and (max-width: 991px){
                    font-size: 13px;
                }
                @media screen and (max-width: 767px){
                    display: inline-block;
                }
                &.w-logo{
                    position: relative;
                    padding-left: 30px;
                    img{
                        position: absolute;
                        width: 20px;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }
                }
                &:hover, &:focus{
                    text-decoration: none;
                    color: $sec;
                }
            }
        }
    }
}

.single-image {
  width: 100%;
  height: 780px;
  background-size: cover;
  margin-bottom: 12px;
}